{{ define "content" }}
    <form class="form-consent" method="post">
        <img src="/images/CAcert-logo.svg" width="300" height="68" alt="CAcert" class="mb-4">
        <h1 class="h3 mb-3">{{ .Title }}</h1>
        {{ if .client.LogoURI }}
            <p>
                <img src="{{ .client.LogoURI }}" alt="{{ .client.ClientName }}"/>
            </p>
        {{ end }}
        <p class="text-left">{{ .IntroConsentRequested }}</p>
        <ul class="list-group text-left small mb-3">
            {{ range $i, $scope := .requestedScope }}
                <li class="list-group-item">
                    <input type="hidden" name="scope[{{ $i }}]" value="{{ $scope.Name }}">
                    {{ $scope.Label }}</li>
            {{ end }}
        </ul>
        {{ if .requestedClaims }}
            <p class="text-left">{{ .ClaimsInformation }}</p>
            <ul class="list-group text-left small mb-3">
                {{ range $i, $claim := .requestedClaims }}
                    <li class="list-group-item">
                        <input type="hidden" name="claims[{{ $i }}]" value="{{ $claim.Name }}">
                        {{ $claim.Label }}{{ if $claim.Essential }} *{{ end}}
                    </li>
                {{ end}}
            </ul>
        {{ end }}
        <p class="text-left">{{ .IntroMoreInformation }}</p>

        {{ .csrfField }}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="consent" id="consent" value="true"/>
                {{ .LabelConsent }}</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ .LabelSubmit }}</button>
    </form>
{{ end }}