{{ define "content" }}
    <form method="post">
        {{ .csrfField }}
        {{ if .errors.Form}}<p>{{ .errors.Form }}</p>{{ end }}
        {{ if .errors.Email }}<p>{{ .errors.Email }}</p>{{ end }}
        <label for="email">{{ .LabelEmail }}</label>
        <input type="text" id="email" name="email" value="{{ .Email }}"/><br/>
        {{ if .errors.Password }}<p>{{ .errors.Password }}</p>{{ end }}
        <label for="password">{{ .LabelPassword }}</label>
        <input type="password" id="password" name="password" value=""/><br/>
        <button type="submit">{{ .LabelLogin }}</button>
    </form>
{{ end }}